*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(244, 242, 243) 16%, rgba(148,187,233,1) 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: black;
}
textarea{
    width: 600px;
    height: 250px;
    background:white;
    color: black;
    font-size: 15px;
    border: 0;
    outline:0;
    border-radius: 8px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: black;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: black;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;

}
select{
     flex:1;
     color: black;
     background: white;
     height: 50px;
     padding: 0 20px;
     outline: 0;
     border: 0;
     border-radius: 35px;
     
}